<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="GridSuite" parallel="tests" thread-count="3">
<listeners>
        <listener class-name="ss.Listeners2"/>
    </listeners>
	
	<test name="EdgeTest">
	<parameter name="browser" value="edge" />
		<classes>
		
		<class name="cart.CartTests2">
		</class>

		</classes>
		</test>
		
	<test name="ChromeTest">
	<parameter name="browser" value="chrome" />
		<classes>
		
		<class name="cart.CartTests3">
		</class>

		</classes>
		</test>
		<test name="ChromeTest1">
	<parameter name="browser" value="chrome" />
		<classes>
		
		<class name="cart.CartTests4">
		</class>

		</classes>
		</test>

</suite>